/* lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
}

/* head-contener */
#head-contener{
    /* max-width: 1920px; */
    height: 850px;
    background-color: #FCEEF1;
    /* border: 2px solid #FCEEF1; */
}
.head-section{
    max-width: 1440px;
    height: 800px;
    /* border: 2px solid red; */
    /* background-color: #323030; */
    margin: auto;
    padding-top: 50px;
    /* position: relative; */
    display: flex;
    justify-content: space-between;
}
.head-content{
    max-width: 708px;
    height: 506px;
    margin: 147px 0 0;
}
.head-content h1{
    font-size: 80px;
    color: #272727;
    font-weight: 800px;
}
.head-content p{
    font-size: 18px;
    color: #272727;
    margin: 32px 0;
}
.head-content button{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: #E55473;
    padding: 20px 43px;
}

.head-img{
    max-width: 635px;
    height: 800px;
}
.head-img img{}

/* featured-contener */
#featured-contener{
    max-width: 1440px;
    height: 785px;
    margin: 178px auto 0;
}

.featured-section{}

.featured-content{
    max-width: 594px;
    height: 132px;
    margin: 0 auto;
    text-align: center;
}
.featured-content h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800px;
}
.featured-content p{
    color: #272727;
    font-size: 18px;
}

/* featured-images */

.featured-images{
    max-width: 1440px;
    height: 605px;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.featured-image-part{
    max-width: 464px;
    height: 605px;
    /* border: 1px solid green; */
}

.image-partst{
    max-width: 464px;
    height: 538px;
    /* border: 1px solid red; */
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0 0;
}

.image-partnd{
    max-width: 464px;
    height: 538px;
    /* border: 1px solid red; */
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0 0;
}

.image-partrd{
    max-width: 464px;
    height: 538px;
    /* border: 1px solid red; */
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0 0;
}

.pst img{
    max-width: 310px;
    height: 428px;
    /* border: 1px solid black; */
    margin: 110px 76px 0;
}
.pnd img{
    max-width: 370px;
    height: 370px;
    /* border: 1px solid black; */
    margin: 117px 47px 51px;
}
.prd img{
    max-width: 314px;
    height: 471px;
    /* border: 1px solid black; */
    margin: 67px 75px 0;
}
/* .image-part img{} */

.featured-image-part h5{
    font-size: 24px;
    font-weight: bold;
    color: #272727;
    text-align: center;
    text-decoration: underline;
    padding-top: 32px;
}
/* three-pack */
.three-pack-contener{
    margin: 128px auto;
    max-width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05); 
    padding-top: 86px;
}

.three-pack-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1090px;
    height: 147px;
    margin: 0 auto;
}

.three-pack-part{
    text-align: center;
}
.three-pack-part img{}
.three-pack-part h4{
    color: #272727;
    font-size: 24px;
    font-weight: 500px;
    padding-top: 24px;
}

/* head-copy-contener */

#head-copy-contener{
    height: 620px;
    background-color: #FCEEF1;
    padding-top: 100px;
}
.head-copy-section{
    max-width: 1098px;
    height: 420px;
    margin: auto;
    /* padding-top: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-copy-content{
    max-width: 594px;
    height: 228px;
    margin: 130px 0 62px;
    text-align: center;
}
.head-copy-content h1{
    font-size: 40px;
    color: #272727;
    font-weight: 800px;
}
.head-copy-content h1 span{
    color: #E55473;
}
.head-copy-content p{
    font-size: 18px;
    color: #272727;
    margin: 32px 0;
}
.head-copy-content button{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: #E55473;
    padding: 20px 43px;
}

.head-copy-img{
    max-width: 318px;
    height: 420px;
}
.head-copy-img img{}